# === IntelliJ IDEA ===
# 무시
.idea/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# 포함 예외 처리
!.idea/modules.xml
.idea/misc.xml
!.idea/Yutnori_FE.iml


# Project module settings
*.iml
!Yutnori_FE.iml

# User-specific files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Build output
/out/

# Logs
*.log

# Compiled class files
*.class

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# VM crash logs
hs_err_pid*
replay_pid*

# === vs code ===
.vscode